.listProduct .item .price{
    letter-spacing: 7px;
    font-size:x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
}
.listProduct .item button{
    background-color: rgb(237, 245, 238);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
.cartTab {
    width: 400px;
    background-color: rgb(255, 255, 255);
    color: rgb(56, 183, 90);
    position: fixed;
    inset: 0 0 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 100px;
    font-size: x-large;
    height: 60px;
  
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* This creates two columns of equal width */
    gap: 10px; /* Adds space between the two buttons */
    padding: 10px; /* Adds some padding inside the button container */
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px); /* Adjusts the width to fit within the .cartTab, considering padding */
}

.cartTab .btn button {
    background-image: linear-gradient(#b8ca11, #0fa809);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    padding: 10px 15px; /* Adjust padding as needed */
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.cartTab .btn .close{
    background-color: white;
}
.cartTab .listProduct .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listProduct .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: white;
    color: darkgreen;
    border-radius: 50%;
    cursor: pointer;
}
.listProduct .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden; /* Hide it by default */
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 999; /* Ensure it's above other content */
  }
  
  .popup-content {
    width: 500px;
    height: auto; /* Adjust based on content */
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 20px;
    position: relative;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  
  .popup-content::after,
  .popup-content::before {
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    z-index: 1;
    top: calc(50% - 20px); /* Center vertically */
    background-color: #14c04a;
  }
  
  .popup-content::after {
    right: -20px;
  }
  
  .popup-content::before {
    left: -20px;
  }
  
  .popup-content h1 {
    font-size: 35px;
    color: #565656;
    margin: 0;
  }
  
  .popup-content h1 span {
    font-size: 18px;
  }
  
  .popup-content h2 {
    font-size: 18px;
    color: #565656;
    text-transform: uppercase;
  }
  
  .popup-content p {
    font-size: 16px;
    color: #696969;
  }
  
  .copy-button {
  margin: 12px 0 -5px 0;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #29a82f;
  
  }
  
  .copy-button input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 15px;
  }
  
  .copy-button button {
    padding: 5px 20px;
    background-color: #14c04a;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  .popup-overlay.show {
    visibility: visible;
    opacity: 1;
  }
  